/* font-family: 'Bebas Neue', sans-serif; */

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* *********************************nav **********************************/

nav {
    position: fixed;
    overflow: hidden;
    background-color: #ffffff;
    width: 350px;
    height: 100vh;
    box-shadow: 1px -3px 8px rgba(0, 0, 0, 0.322);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-top: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 208px;
    margin-bottom: 133px;

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(92, 92, 92);
        font-size: 20px;
    }

    a:hover {
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(87, 11, 11);
        font-size: 20px;
    }
}

.nav a.active {
    color: black;
    font-weight: bold;
}


.images {
    width: 100px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.images img {
    margin-right: 3px;
    margin-left: 3px;
}



.bottom-line {
    width: 200px;
    border: 3px solid black;
    margin-bottom: 10px;
    border-radius: 3px;
}

/* **************************************header******************** */


header {
    width: 100vw;
}

.contenue-offre {
    margin-left: 350px;
    display: flex;
    justify-content: space-around;
}

.contenue-offre img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 188px;
    border-radius: 5px;


}

.offre {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 48%;
}


a {
    text-decoration: none;
}

.offre button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.grey-line {
    width: 290px;
    border: 3px solid #EFEFEF;
}

h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0px;
}

h2.h2 {
    margin-left: 7%;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0px;
}

p {
    width: 100%;
}

/* *******************************MAin******************************** */

main {
    width: 100vw;
}

.formulaire {
    margin-left: 350px;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boite {
    width: 80%;
    margin-bottom: 45px;
    height: 50px;

}

input {
    letter-spacing: 1px;
    padding-left: 10px;
}

input.large {
    width: 100%;
    height: 100%;
    border-color: transparent;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.164);
    border-radius: 5px;

}

.texte {
    width: 80%;
    margin-bottom: 30px;
    height: 300px;
}

textarea {
    width: 100%;
    border-color: transparent;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.164);
    height: 100%;
    border-radius: 5px;
    letter-spacing: 1px;
    padding-left: 10px;
    text-transform: uppercase;

}


input.submit {
    align-items: flex-start;
    width: 200px;
    background-color: black;
    color: white;
    border-color: transparent;
    border-radius: 5px;
    height: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
    transition: 0.2s ease-in-out;
}

input.submit:hover {
    background-color: rgb(87, 11, 11);
}

label {
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
}

.button {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
}

.telephone {
    font-weight: bold;
}

.courriel {
    font-weight: bold;
}

p {
    font-size: large;
}